<div class="container">
  <div class="form-inline">
    <div class="btn-group">
      <button
        class="btn btn-primary"
        btnRadio="Excel"
        (click)="getErrors() > 0 ? openModal(template) : open(content)"
      >
        <i class="fa fa-file-excel-o"></i> Export to Excel
      </button>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="btn-group">
      <button class="btn btn-primary" btnRadio="Clear" (click)="deleteData()">
        <i class="fa fa-trash"></i> Clear Data
      </button>
    </div>
    &nbsp;&nbsp;&nbsp;<strong *ngIf="accrual && getErrors() > 0"
      >Errors: {{ getErrors() }}</strong
    >
  </div>
</div>
<div class="row mt-1">
  <p *ngIf="drecsEmp && drecsAcr">
    Employee data last updated at&nbsp;{{
      drecsEmp.updated | date: "dd/MM/yyyy HH:mm"
    }}&nbsp;{{ drecsEmp.desc }}&nbsp;&nbsp;&nbsp; Accrual By Fund Report last
    updated at&nbsp;{{ drecsAcr.updated | date: "dd/MM/yyyy HH:mm" }}&nbsp;{{
      drecsAcr.desc
    }}&nbsp;&nbsp;
  </p>
</div>
<tabset class="member-tabset">
  <tab heading="List">
    <div class="row">
      <font [size]="2">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>USI</th>
              <th>PayrollID</th>
              <th>MemberID</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>DOB</th>
              <th>Gender</th>
              <th>SuperGuarantee</th>
              <th>Spouse</th>
              <th>SalarySacrifice</th>
              <th>Redundancy</th>
              <th>Productivity</th>
              <th>EmployeeCategory</th>
              <th>EmployeeBasis</th>
              <th>CustomList2</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="accrual ? getLength() === 0 : null">
              <td></td>
              <td>No Data</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr *ngFor="let item of accrual">
              <td>{{ item.usi }}</td>
              <td>{{ item.payrollID }}</td>
              <td>{{ item.memberID }}</td>
              <td>{{ item.lastName }}</td>
              <td>{{ item.firstName }}</td>
              <td>{{ item.dob }}</td>
              <td>{{ item.gender }}</td>
              <td>{{ item.superGuarantee | currency: "USD" }}</td>
              <td>{{ item.spouse | currency: "USD" }}</td>
              <td>{{ item.salarySacrifice | currency: "USD" }}</td>
              <td>{{ item.redundancy | currency: "USD" }}</td>
              <td>{{ item.productivity | currency: "USD" }}</td>
              <td
                [ngStyle]="{
                  'background-color': !(
                    (item.empCategory === 'Temporary' &&
                      item.empStatus === 'Casual' &&
                      item.customList2 === 'FTM') ||
                    (item.empCategory === 'Permanent' &&
                      item.empStatus === 'Full Time' &&
                      item.customList2 === 'Salaries') ||
                    (item.empCategory === 'Permanent' &&
                      item.empStatus === 'Part Time' &&
                      item.customList2 === 'Salaries')
                  )
                    ? 'red'
                    : 'white',
                  color: !(
                    (item.empCategory === 'Temporary' &&
                      item.empStatus === 'Casual' &&
                      item.customList2 === 'FTM') ||
                    (item.empCategory === 'Permanent' &&
                      item.empStatus === 'Full Time' &&
                      item.customList2 === 'Salaries') ||
                    (item.empCategory === 'Permanent' &&
                      item.empStatus === 'Part Time' &&
                      item.customList2 === 'Salaries')
                  )
                    ? 'white'
                    : 'black'
                }"
              >
                {{ item.empCategory }}
              </td>
              <td
                [ngStyle]="{
                  'background-color': !(
                    (item.empCategory === 'Temporary' &&
                      item.empStatus === 'Casual' &&
                      item.customList2 === 'FTM') ||
                    (item.empCategory === 'Permanent' &&
                      item.empStatus === 'Full Time' &&
                      item.customList2 === 'Salaries') ||
                    (item.empCategory === 'Permanent' &&
                      item.empStatus === 'Part Time' &&
                      item.customList2 === 'Salaries')
                  )
                    ? 'red'
                    : 'white',
                  color: !(
                    (item.empCategory === 'Temporary' &&
                      item.empStatus === 'Casual' &&
                      item.customList2 === 'FTM') ||
                    (item.empCategory === 'Permanent' &&
                      item.empStatus === 'Full Time' &&
                      item.customList2 === 'Salaries') ||
                    (item.empCategory === 'Permanent' &&
                      item.empStatus === 'Part Time' &&
                      item.customList2 === 'Salaries')
                  )
                    ? 'white'
                    : 'black'
                }"
              >
                {{ item.empStatus }}
              </td>
              <td
                [ngStyle]="{
                  'background-color': !(
                    (item.empCategory === 'Temporary' &&
                      item.empStatus === 'Casual' &&
                      item.customList2 === 'FTM') ||
                    (item.empCategory === 'Permanent' &&
                      item.empStatus === 'Full Time' &&
                      item.customList2 === 'Salaries') ||
                    (item.empCategory === 'Permanent' &&
                      item.empStatus === 'Part Time' &&
                      item.customList2 === 'Salaries')
                  )
                    ? 'red'
                    : 'white',
                  color: !(
                    (item.empCategory === 'Temporary' &&
                      item.empStatus === 'Casual' &&
                      item.customList2 === 'FTM') ||
                    (item.empCategory === 'Permanent' &&
                      item.empStatus === 'Full Time' &&
                      item.customList2 === 'Salaries') ||
                    (item.empCategory === 'Permanent' &&
                      item.empStatus === 'Part Time' &&
                      item.customList2 === 'Salaries')
                  )
                    ? 'white'
                    : 'black'
                }"
              >
                {{ item.customList2 }}
              </td>
            </tr>
          </tbody>
        </table>
      </font>
    </div>
  </tab>
  <tab heading="Upload File">
    <app-file-manager (nameEmitter)="receivename($event)"></app-file-manager>
  </tab>
</tabset>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Please select excel result options
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="resulttype">Select Result Options</label>
        <div class="input-group">
          <select
            class="form-select"
            (change)="selectChangeHandler($event)"
            aria-label="Default select example"
          >
            <option selected>Choose option</option>
            <option value="1">Regular</option>
            <option value="2">Stapled Super</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="
        modal.close('Save click'); selectedDevice > 0 ? loadAccrualExport() : 0
      "
    >
      Export
    </button>
  </div>
</ng-template>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Error</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">Found {{ getErrors() }} missmatch errors!</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">
      Close
    </button>
  </div>
</ng-template>
